<!DOCTYPE html>
<html>
<head>
  <title>Statistiche negozio</title>
  <style>
    .search-bar {
      display: flex;
      margin-bottom: 20px;
    }
    .search-bar input[type="text"] {
      flex: 1;
      padding: 5px;
    }
    .search-bar button {
      padding: 5px 10px;
    }
    .product-card {
      border: 1px solid #000;
      padding: 10px;
      margin: 10px 0;
    }
  </style>
</head>
<body>
  <h1>Statistiche</h1>

  

  <% @prodotti.each do |prodotto| %>
    <div class="product-card">
      <h2><%= prodotto.nome_prodotto %></h2>
      <p>Statistiche prodotto:</p>
      <p><strong>Visualizzazioni:</strong> <%= prodotto.statistica&.visualizzazioni || 0 %></p>
      <p><strong>Vendite:</strong> <%= prodotto.statistica&.vendite || 0 %></p>
    </div>
  <% end %>
</body>
</html>
