<p id="notice"><%= t_google(notice) %></p>

<h1><%= t('acquirente.negozi_seguiti') %></h1>

<% if @negozi_seguiti.any? %>
  <ul>
    <% @negozi_seguiti.each do |negozio| %>
      <li>
        <%= link_to negozio.nome_negozio, visualizza_negozio_path(negozio) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p><%= t('acquirente.no_seguiti') %></p>
<% end %>
