<p>Ciao <%= @user.nome_utente %>,</p>
<p>Hai richiesto di reimpostare la tua password. Clicca sul link qui sotto per reimpostarla:</p>
<p><%= link_to 'Reset Password', edit_password_reset_url(@user.password_reset_token) %></p>
<p>Se non hai richiesto il reset della password, ignora questa email.</p>
