<h1>Archivio Ordini</h1>

<div class="archivo-ordini">
  <div class="prodotto">
    <p>Nome prodotto</p>
    <p>Descrizione prodotto</p>
    <p>Prezzo</p>
    <p>Data</p>
    <p>Stato</p>
    <button>Reso</button>
    <button>Recensione</button>
  </div>
</div>
