<%= form_with(model: varianti) do |form| %>
  <% if varianti.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(varianti.errors.count, "error") %> prohibited this varianti from being saved:</h2>

      <ul>
        <% varianti.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
