<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
</head>
<body>
    <header>
        <div class="header-content">
        <div class="logo-home">Logo/Home</div>
        <div class="menu-icon">&#9776;</div>
        </div>
    </header>
    <nav class="categories">
        <a href="#">GIOIELLI </a>
        <a href="#">BORSE </a>
        <a href="#">CINTURE </a>
        <a href="#">SCARPE </a>
        <a href="#">ABBIGLIAMENTO </a>
        <a href="#">CASA </a>
        <a href="#">Categoria 7</a>
        <a href="#">Categoria 8</a>
    </nav>
    <main>
        <div class="filter-search">
            <button class="filter-btn">Filtra</button>
            <input type="text" placeholder="Cerca">
        </div>
        <div class="promotions">
            <div class="promotion">
                <h2>Nome promozione</h2>
                <p>Descrizione</p>
            </div>
            <div class="promotion">
                <h2>Nome promozione</h2>
                <p>Descrizione</p>
            </div>
            <div class="promotion">
                <h2>Nome promozione</h2>
                <p>Descrizione</p>
            </div>
            <div class="show-promo">Mostra promo</div>
        </div>
        <div class="products">
            <div class="product">
                <h3>Nome prodotto</h3>
                <p>Descrizione</p>
            </div>
            <div class="product">
                <h3>Nome prodotto</h3>
                <p>Descrizione</p>
            </div>
            <div class="product">
                <h3>Nome prodotto</h3>
                <p>Descrizione</p>
            </div>
            <div class="product">
                <h3>Nome prodotto</h3>
                <p>Descrizione</p>
            </div>
        </div>
    </main>
</body>
</html>
