<p id="notice"><%= notice %></p>

<h1>FAQ</h1>

<div class="profile-container">

  <body>
    <div class="faq-item">
      <p>1. Domanda?</p>
      <select>
        <option>Risposta</option>
      </select>
    </div>
    <div class="faq-item">
      <p>2. Domanda?</p>
      <select>
        <option>Risposta</option>
      </select>
    </div>
  </body>
</div>
