<p id="notice"><%= notice %></p>

<h1>FAQ</h1>

<% @faqs.each do |faq| %>
  <div class="faq-item">
    <p><%= faq.domanda %></p>
    <select>
      <option><%= faq.risposta %></option>
    </select>
  </div>
<% end %>

