<p id="notice"><%= notice %></p>

<h1>Prodottos</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prodottos.each do |prodotto| %>
      <tr>
      
      <div class="prodotto">
      <%= link_to prodotto.nome_prodotto, prodotto_path(prodotto), class: "prodotto-link" %>
      <p><%= prodotto.descrizione %></p>
      </div>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>


