<h1>Cronologia Ricerca</h1>

<div class="cronologia-ricerche">
  <div class="prodotto">
    <p>Nome prodotto</p>
    <p>Descrizione prodotto</p>
    <p>Prezzo</p>
    <p>★★★★★</p>
  </div>
  <button>Cancella cronologia</button>
</div>
